<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eclipsesource.tabris.remoteLauncher" version="0.1.0">

  <name>Tabris for RAP</name>
  <description>
    Tabris for RAP Developer App
  </description>
  <author email="info@tabris.com">
    EclipseSource Inc.
  </author>

  <access origin="*" />
  
  <preference name="EnableDeveloperConsole" value="true"/>
  <preference name="UseStrictSSL" value="false"/>

  <plugin name="cordova-plugin-network-information" spec="~2.0.1" />  
  <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
  <plugin name="tabris-plugin-camera" spec="https://github.com/eclipsesource/tabris-plugin-camera.git" />
  <plugin name="tabris-plugin-barcode-scanner" spec="https://github.com/eclipsesource/tabris-plugin-barcode-scanner.git#8de9218216e67e47777da42ae3ba804a0d3c6e17" />
  <plugin name="tabris-plugin-firebase" spec="https://github.com/eclipsesource/tabris-plugin-firebase.git#9cb3aa24410834137fcba500d7660e647c744cb7" />
  
  <platform name="ios">
    <resource-file src="GoogleService-Info.plist" />
  </platform>

</widget>
